<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kwejk</title>
    <link rel="stylesheet" th:href="@{/app.css}" />
</head>
<body>
    <p th:text="${attr}"></p>
    <div th:each="gif : ${fileNameList}">
        <img th:src="@{'/images/' + ${gif}}"/>
    </div>
</body>
</html>